{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Password change form -->
    <div class="col-lg-8">
        <h1 class="mt-4">Change password</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-save"></span> Save
            </button>
            <a class="btn btn-light" href="{{ path('profile.edit', {username: user.username}) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    </div>
    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}
