{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme form _self %}

{% block _user_picture_widget %}
    <div class="mb-2">
        {% if form.vars.data %}
            <img id="profile-picture" class="media-object" src="{{ asset(web_dir ~ '/' ~ form.vars.data.filename) }}">
            <input id="delete-picture" type="hidden" name="_deletePicture" value="0">
            <button id="delete-picture-button" class="btn btn-link text-danger d-block p-0">Remove picture</button>
        {% endif %}
    </div>

    {{ form_widget(form) }}
{% endblock %}

{% block body %}
    <!-- Post Create Column -->
    <div class="col-lg-8">
        <h1 class="mt-4">Edit profile</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">
                <span class="fas fa-save"></span> Save
            </button>
            <a class="btn btn-light" href="{{ path('profile.password', {username: user.username}) }}">Change password</a>
        </div>
        {{ form_end(form) }}
    </div>
    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#delete-picture-button').on('click', function () {
                $('#delete-picture').val(1);
                $('#profile-picture').remove();
                $(this).remove();
            });
        });
    </script>
{% endblock %}