{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/article/list.css') }}">
{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <img class="rounded-circle" src="http://placehold.it/200x200" alt="">
                    <div class="d-inline-block pl-4">
                        <h1 class="mb-0">
                            <small>{{ user.name }}</small>
                        </h1>
                        <p class="text-secondary small m-0">@{{ user.username }}</p>
                        <a class="btn btn-light mt-2" href="#">Edit profile</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown my-4 d-inline-block h1">
                        <small>Your posts</small>
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by:
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {{ knp_pagination_sortable(articles, 'Title', 'a.title', {'class': 'dropdown-item'}) }}
                            {{ knp_pagination_sortable(articles, "Date Published", 'a.publishedAt', {'class': 'dropdown-item'}) }}
                            {{ knp_pagination_sortable(articles, "Date Created", 'a.createdAt', {'class': 'dropdown-item'}) }}
                        </div>
                    </div>
                    <hr>
                    {% for article in articles %}
{#                        {% set article = article[0] %}#}
                        <!-- Blog Post -->
                        <div class="card mb-4">
                            <img class="card-img-top" src="{{ article.picture is not null ? asset(articles_web_dir ~ '/' ~ article.picture) : 'http://placehold.it/750x300' }}" alt="Card image cap">
                            <div class="card-body">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <p class="card-text">{{ article.content|slice(0, 250)|striptags|replace({'&nbsp;': ' '}) }}</p>
                                <a href="{{ path('article.show', {slug: article.slug}) }}" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                            {% if article.isPublic %}
                                <div class="card-footer text-muted">
                                    Posted on {{ article.publishedAt.format('F d, Y') }} by
                                    <a href="#">{{ article.author.name }} <small>@{{ article.author.username }}</small></a>
                                    <span class="float-right">
                                        <i class="fas fa-thumbs-up"></i> {{ article.likes.count }}
                                        &nbsp;
                                        <i class="fas fa-comment"></i> {{ article.comment.count }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="card-footer text-muted">
                                    <span class="badge badge-warning">Draft</span>
                                    Created on {{ article.createdAt.format('F d, Y') }} by
                                    <a href="#">{{ article.author.name }} <small>@{{ article.author.username }}</small></a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination -->
        {{ knp_pagination_render(articles, null, {}, {
            'align': 'center'
        }) }}

    </div>

    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}