<!-- Tags Widget -->
<div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in tags %}
                        {% if loop.index is odd %}
                            {% set articleCount = tag['articleCount'] %}
                            {% set tag = tag[0] %}
                            <li>
                                <a href="{{ path('tag.show', {slug: tag.slug}) }}">{{ tag.name }} <span class="text-muted">({{ articleCount }})</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in tags %}
                        {% if loop.index is even %}
                            {% set articleCount = tag['articleCount'] %}
                            {% set tag = tag[0] %}
                            <li>
                                <a href="{{ path('tag.show', {slug: tag.slug}) }}">{{ tag.name }} <span class="text-muted">({{ articleCount }})</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>