{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/register/register.css') }}">
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



    {{ form_start(registrationForm, {'attr': {'class': 'form-register'}}) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <span class="text-left">{{ form_errors(registrationForm.name) }}</span>
        {{ form_row(registrationForm.name) }}
        <span class="text-left">{{ form_errors(registrationForm.email) }}</span>
        {{ form_row(registrationForm.email) }}
        <span class="text-left">{{ form_errors(registrationForm.username) }}</span>
        {{ form_row(registrationForm.username) }}
        <span class="text-left">{{ form_errors(registrationForm.plainPassword) }}</span>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <span class="text-left">{{ form_errors(registrationForm.agreeTerms) }}</span>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
