{% if is_granted('ROLE_USER') %}
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            {{ form_start(commentForm, {'action': path('comment.add', {slug: article.slug})}) }}
            <div class="form-group">
                {{ form_widget(commentForm) }}
            </div>
            <button type="submit" class="btn btn-primary">Comment</button>
            {{ form_end(commentForm) }}
        </div>
    </div>
    <!-- End comments form -->
{% endif %}

        {% for comment in article.comment|sort((a, b) => b.createdAt <=> a.createdAt) %}
            {% set replyForm = replyFormObject.createView %}
            {% if comment.parent is null %}
                <!-- Comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="{{ comment.author.picture is null ? 'http://placehold.it/50x50' : asset(articles_web_dir ~ '/' ~ comment.author.picture) }}" alt="">
                    <div class="media-body">
                        <h5 class="my-0">{{ comment.author.name }} <small><a href="#">@{{ comment.author.username }}</a></small></h5>
                        <small class="text-secondary">{{ comment.createdAt.format('F d, Y \\a\\t H:i') }}</small>
                        <p class="p-0 m-0">
                            {{ comment.content }}
                        </p>

                        {% if is_granted('ROLE_USER') %}

                            <small class="text-secondary comment-like-count">{{ comment.likes.count }}</small>

                            {% for like in comment.likes | filter((c) => c in app.user.likes) %}
                                {% if like in app.user.likes %}
                                    <button class="comment-unlike btn btn-sm btn-link p-0" data-id="{{ like.id }}">Unlike</button>
                                    {% set break = true %}
                                {% endif %}
                            {% else %}
                                <button class="comment-like btn btn-sm btn-link p-0" data-id="{{ comment.id }}">Like</button>
                            {% endfor %}

                            <button class="comment-reply btn btn-sm btn-link p-0">Reply</button>
                            {% if app.user == comment.author %}
                                <!-- Comment remove form -->
                                <form action="{{ path('comment.delete', {id: comment.id}) }}" method="post" class="d-inline">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="token" value="{{ csrf_token(comment.id ~ 'delete-comment') }}">
                                    <button class="btn btn-sm btn-link text-danger p-0">Remove</button>
                                </form>
                                <!-- End comment remove form -->
                            {% endif %}

                            <!-- Comment reply form -->
                            {{ form_start(replyForm, {'action': path('comment.reply', {id: comment.id}), 'attr': {'class': 'd-none'}}) }}
                            <div class="form-group">
                                {{ form_widget(replyForm) }}
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Reply</button>
                            {{ form_end(replyForm) }}
                            <!-- End comment reply form -->
                        {% endif %}

                        <!-- Comment replies -->
                        {% for reply in comment.reply|sort((a, b) => b.createdAt <=> a.createdAt)  %}
                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="{{ reply.author.picture is null ? 'http://placehold.it/50x50' : asset(articles_web_dir ~ '/' ~ reply.author.picture) }}" alt="">
                                <div class="media-body">
                                    <h5 class="my-0">{{ reply.author.name }} <small><a href="#">@{{ reply.author.username }}</a></small></h5>
                                    <small class="text-secondary">{{ reply.createdAt.format('F d, Y \\a\\t H:i') }}</small>
                                    <p class="p-0 m-0">
                                        {{ reply.content }}
                                    </p>

                                    {% if is_granted('ROLE_USER') %}
                                        <small class="text-secondary comment-like-count">{{ reply.likes.count }}</small>

                                        {% for like in reply.likes | filter((c) => c in app.user.likes) %}
                                            {% if like in app.user.likes %}
                                                <button class="comment-unlike btn btn-sm btn-link p-0" data-id="{{ like.id }}">Unlike</button>
                                                {% set break = true %}
                                            {% endif %}
                                        {% else %}
                                            <button class="comment-like btn btn-sm btn-link p-0" data-id="{{ reply.id }}">Like</button>
                                        {% endfor %}
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') or app.user == reply.author %}
                                        <!-- Comment remove form -->
                                        <form action="{{ path('comment.delete', {id: reply.id}) }}" method="post" class="d-inline">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="hidden" name="token" value="{{ csrf_token(reply.id ~ 'delete-comment') }}">
                                            <button class="btn btn-sm btn-link text-danger p-0">Remove</button>
                                        </form>
                                        <!-- End comment remove form -->
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End comment replies -->
                    </div>
                </div>
            {% endif %}
        {% endfor %}