<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Symfony Blog{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'template_parts/_navigation.html.twig' %}

        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success position-absolute" role="alert" style="bottom: 0; right: 0;">
                {{ message }}
            </div>
        {% endfor %}

        {% include 'template_parts/_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
