{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/article/list.css') }}">
{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4 d-inline-block">
            <small>All articles</small>
        </h1>

        <div class="dropdown my-4 d-inline-block h1">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{ knp_pagination_sortable(articles, 'Title', 'a.title', {'class': 'dropdown-item'}) }}
                {{ knp_pagination_sortable(articles, 'Date', 'a.publishedAt', {'class': 'dropdown-item'}) }}
            </div>
        </div>

        {% for article in articles %}
            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="{{ article.picture is not null ? asset(web_dir ~ '/' ~ article.picture) : 'http://placehold.it/750x300' }}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">{{ article.content|slice(0, 250)|striptags|replace({'&nbsp;': ' '}) }}</p>
                    <a href="{{ path('article.show', {slug: article.slug}) }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ article.publishedAt.format('F d, Y') }} by
                    <a href="{{ path('profile', {username: article.author.username}) }}">{{ article.author.name }} <small>@{{ article.author.username }}</small></a>
                    <span class="float-right">
                        <i class="fas fa-thumbs-up"></i> {{ article.likes.count }}
                        &nbsp;
                        <i class="fas fa-comment"></i> {{ article.comment.count }}
                    </span>
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        {{ knp_pagination_render(articles, null, {}, {
            'align': 'center'
        }) }}

    </div>

    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}
