{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/article/show.css') }}">
{% endblock %}

{% block body %}
    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ article.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            {{ article.author.name }} <a href="#"><small>@{{ article.author.username }}</small></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ article.publishedAt.format('F d, Y \\a\\t H:i') }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ article.picture is not null ? asset(articles_web_dir ~ '/' ~ article.picture) : 'http://placehold.it/750x300' }}" alt="">

        <hr>

        <p>
            {{ article.content|raw }}
        </p>

        <hr>

        {% if article.author == app.user or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-light" href="{{ path('article.edit', {slug: article.slug}) }}">
                <span class="fas fa-edit"></span> Edit
            </a>
            {{ form_start(deleteForm, {'attr': {'class': 'd-inline-block'}}) }}
            {{ form_widget(deleteForm) }}
            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">
                <span class="fas fa-trash"></span> Delete
            </button>
            {{ form_end(deleteForm) }}
        {% endif %}

        <hr>

        {%
            include 'template_parts/_comments.html.twig' with
            {
                'commentForm': commentForm,
                'replyFormObject': replyFormObject,
                'article': article
            } only
        %}

    </div>

    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.comment-reply').on('click', function(e) {
            e.preventDefault();
           $(this).siblings('form').removeClass('d-none');
           $(this).addClass('d-none');
        });
    </script>
{% endblock %}