<!-- Blog Post -->
{% set userLikeId = is_granted('ROLE_USER') and article.isLikedByUser(app.user) ? article.isLikedByUser(app.user) : 0 %}
<div class="card mb-4">
    <img class="card-img-top"
         src="{{ article.picture is not null ? asset(web_dir ~ '/' ~ article.picture) : 'http://placehold.it/750x300' }}"
         alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <p class="mb-1">
            <a class="text-decoration-none" href="{{ path('category.show', {'slug': article.category.slug}) }}">
                <span class="badge badge-primary">
                    {{ article.category.name }}
                </span>
            </a>
        </p>
        <p class="mb-1">
            {% for tag in article.tag %}
                <a class="text-decoration-none" href="{{ path('tag.show', {'slug': tag.slug}) }}">
                    <span class="badge badge-secondary">
                        {{ tag.name }}
                    </span>
                </a>
            {% endfor %}
        </p>
        <p class="card-text">{{ article.content|slice(0, 250)|striptags|replace({'&nbsp;': ' '}) }}</p>
        {% if article.isPublic %}
            <a href="{{ path('article.show', {slug: article.slug}) }}" class="btn btn-primary">Read More &rarr;</a>
        {% else %}
            <a href="{{ path('article.preview', {slug: article.slug}) }}" class="btn btn-primary">Show preview &rarr;</a>
        {% endif %}
    </div>
    {% if article.isPublic %}
        <div class="card-footer text-muted">
            Posted on {{ article.publishedAt.format('F d, Y') }} by
            <a href="#">{{ article.author.name }} <small>@{{ article.author.username }}</small></a>
            <span class="float-right">
                <i class="
                    fas fa-thumbs-up
                    {{ userLikeId ? 'text-primary' : '' }}
                ">
                </i>
                {{ article.likes.count }}
                &nbsp;
                <i class="fas fa-comment"></i>
                {{ article.comment.count }}
            </span>
        </div>
    {% else %}
        <div class="card-footer text-muted">
            <span class="badge badge-warning">Draft</span>
            Created on {{ article.createdAt.format('F d, Y') }} by
            <a href="#">{{ article.author.name }} <small>@{{ article.author.username }}</small></a>
        </div>
    {% endif %}
</div>